@page
@using DailyInfoCenter.Extensions
@using DailyInfoCenter.Models.SMHI

@using DailyInfoCenter.Models.SL.Departure
@model IndexModel
@{
    ViewData["Title"] = "Idag";
    var curTemp = Model.SMHIWeather.GetNowTemperature();
    var curWeatherSymb = Model.SMHIWeather.GetNowWeatherSymbol();
    var curWeatherSymbImg = $"Images/{curWeatherSymb.ToString()}.png";
}

<div class="text-center">
    <h1 class="display-4" id="timedisplay">Welcome</h1>
    <p>Vecka @Model.DailyQuote.weekNumber</p>
    <p> Välkommen till denna @Model.DailyQuote.message @Model.DailyQuote.dayName</p>
    <h2>Väder</h2>
    <p><span><img src="@curWeatherSymbImg" aria-hidden="true" /></span>@Html.DisplayFor(modelitem => curWeatherSymb) och @curTemp grader.</p>
    <h2>Trafikmeddelanden</h2>
    <p>
        <ul class="list-unstyled">
            @foreach (var msg in Model.TrafficInfo.messages.Take(4))
            {
                <li class="mb-3"><span>@msg.title</span><br /><span>@msg.description</span></li>
            }
        </ul>
    </p>
    @if (Model.SiteId == null)
    {
        <div>
            <form>
                <input name="stopSearch" placeholder="Sök hållplats" />
                <input type="submit" value="Sök" />
            </form>
        </div>
    }
    @if (Model.Stops != null)
    {
        if (Model.Stops.ResponseData != null)
        {
            <div>
                <p>Välj en hållplats att visa avgångar från:</p>
                <table class="table">
                    <thead>
                    <th>Namn</th>
                    <th>Typ</th>
                    </thead>
                    @foreach (var stop in Model.Stops.ResponseData)
                    {
                        <tr>
                            <td><a asp-route-SiteId="@stop.SiteId">@stop.Name</a></td>
                            <td>@stop.Type</td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p class="text-danger">Inga data från SLs API. Är din Api-nyckel korrekt?</p>
        }
    }
    @if (Model.SiteId != null)
    {
        if (Model.Departures.ResponseData.Buses.Length > 0)
        {
            <h2>Avgångar med buss</h2>
            <table class="table">
                <thead>
                <th>Tid</th>
                <th>Linje</th>
                <th>Destination</th>
                </thead>
                <tbody>
                    @foreach (var departure in Model.Departures.ResponseData.Buses)
                    {
                        <tr>
                            <td>@departure.DisplayTime</td>
                            <td>@departure.LineNumber</td>
                            <td>@departure.Destination</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        if (Model.Departures.ResponseData.Metros.Length > 0)
        {
            <h2>Avgångar med tunnelbanan</h2>
            <table class="table">
                <thead>
                <th>Tid</th>
                <th>Linje</th>
                <th>Destination</th>
                </thead>
                <tbody>
                    @foreach (var departure in Model.Departures.ResponseData.Metros)
                    {
                        <tr>
                            <td>@departure.DisplayTime</td>
                            <td>@departure.LineNumber</td>
                            <td>@departure.Destination</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        if (Model.Departures.ResponseData.Trains.Length > 0)
        {
            <h2>Avgångar med pendeltåg</h2>
            <table class="table">
                <thead>
                <th>Tid</th>
                <th>Linje</th>
                <th>Destination</th>
                </thead>
                <tbody>
                    @foreach (var departure in Model.Departures.ResponseData.Trains)
                    {
                        <tr>
                            <td>@departure.DisplayTime</td>
                            <td>@departure.LineNumber</td>
                            <td>@departure.Destination</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        if (Model.Departures.StatusCode > 0)
        {
            <p>Något gick fel med att hämta SLs data (fel @Model.Departures.StatusCode, @Model.Departures.Message)!</p>
        }
    }
</div>
@section Scripts {
    <script src="/js/startPage.js"></script>
    <script>
        infoStart();
    </script>
}